@using WebApplication.App_GlobalResources
@*@model List<Dictionary<string, object>>*@


@{

    ViewBag.Title = "Calendar";

    Random r = new Random();
    var colores = new[] { "#56c4fb", "#1baa06", "#c186ab", "#8e091e", "#76ad00" };
    //int numColor = colores.Length; 

}

<style>
    .fc-title {
        white-space: nowrap;
    }

    .fc-event .fa {
        margin-top: 0;
        margin-right: 5px;
        margin-left: 0;
    }

    #contcalendar {
        padding: 10px 30px 10px 10px;
    }
</style>

<section class="content-header">
    <div class="callout callout-info" style="margin-bottom: 0 !important;">
        <h4> <i class="fa fa-birthday-cake"></i>  @Pay_Lenguaje.home_cumple </h4>
    </div>
    <br />
</section>
<div class="box box-primary">

    <div id="calendar"></div>

</div>


<script>
    $(function () {
        /* initialize the external events
        -----------------------------------------------------------------*/
        function ini_events(ele) {
            ele.each(function () {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 1070,
                    revert: true, // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });
        }

        ini_events($('#external-events div.external-event'));

        /* inicia calendario
         -----------------------------------------------------------------*/
        //Date for the calendar events (dummy data)
        var date = new Date();
        var d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear();

        $('#calendar').fullCalendar({
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
            dateFormat: 'dd-mm-yyyy',
            firstDay: 1,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'Hoy',
                month: 'Mes',
                week: 'Semana',
                day: 'Día'
            },
            //foreach cumpleaños
            events: [
            @foreach (var it in Model) {
               @Html.Raw("{title: 'Cumpleaños', icon: 'fa fa-birthday-cake',  allDay: true, description: '" + (it["nombre_completo"]) + " ', " +
                  "start:  new Date('" + (it["fecha_nacimiento"]) + "'), " +
                  //"end: '" + (it["fecha_fin"]) + "', " +
                  "backgroundColor:'" + colores[r.Next(0, colores.Length)].ToString() + "'} ,");
                }
            ],
            eventRender: function (event, element, icon) {

                //$('fc-content').each(function () {
                //   $('.fc-title').css('background-color', color);
                element.find('.fc-title').append("<span class='" + event.icon + "' style='position:absolute; left: calc(100% - 15px);'></span>");
                element.find('.fc-content').append("<h6><p style='text-align:center;' class='fc-title'>" + event.description + "</p></h6>");

                ////})
            },

            windowResize: function (event, ui) {
                $('#calendar').fullCalendar('render');

            },
        });
    });
</script>
