@model WebApplicationModel.Usuario
@using (Html.BeginForm((Model == null ? "Create" : "Edit"), "Liquidaciones", FormMethod.Post, new { @id = "mant-form", @novalidate = "novalidate", role = "form" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Formulario Titulo</h4>
    </div>

    @Html.AntiForgeryToken()
    @(Model == null ? new MvcHtmlString("") : Html.HiddenFor(p => p.id_usu))


    <div class="modal-body">
        <div class="box-body">
            <div class="form-group">
                <label for="email">Email address</label>
                @Html.TextBoxFor(model => model.email, new { type = "email", @class = "form-control", placeholder = "Enter email" })
            </div>
            <div class="form-group">
                <label for="pass_usu">Password</label>
                @Html.TextBoxFor(model => model.pass_usu, new { type = "password", @class = "form-control", placeholder = "Password" })
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" action="save">Save changes</button>
    </div>
}
<script>
    setFormulario(
        "mant-form",
        {
            email: { required: true },
            pass_usu: { required: true }
        },
        {
            email: { required: '<span class="help-block error" ><i class="fa fa-warning"></i> Ingrese Email valido</span> ' },
            pass_usu: { required: '<span class="help-block error" ><i class="fa fa-warning"></i> Ingrese Password valido</span> ' }
        }
    );
</script>
